<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>SessionCounterDemo</display-name>

    <!-- Cấu hình timeout 30 giây -->
    <session-config>
        <session-timeout>0</session-timeout> <!-- 0 phút = dùng <timeout-seconds> -->
        <timeout-seconds>30</timeout-seconds> <!-- chính xác 30 giây -->
    </session-config>
</web-app>
